<!doctype html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="css/site.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    </head>
    <body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>MyApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Brett Larney - the developer</h2>
					<p>My name is Brett Larney, I'm in 3rd semester at Seneca College, I like stuff and things</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>© 2017 - Brett Larney</h2>
			</div>
		</div>
	</div>
   </footer>
</body>
</html>